<div landing id="main-bod">
	<div ng-controller="IndexController">
		<!-- =========================
				NAVIGATION LINKS     
		============================== -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><a href="#!"><img src="img/logo.png" width="240" height="78" ></a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="#!">Home</a>
            <a class="mdl-navigation__link" href="#!#whatiscfh">About</a>
            <a class="mdl-navigation__link" href="#!#howtoplay">How to Play</a>
            <a class="mdl-navigation__link" href="#!#charity">Charity</a>
            <a class="mdl-navigation__link" href="#!/signin">Login</a>
            <a class="mdl-navigation__link btn btn-donate" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/?widget=true">Donate Now</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#!">Home</a>
          <a class="mdl-navigation__link" href="#!#whatiscfh">About</a>
          <a class="mdl-navigation__link" href="#!#howtoplay">How to Play</a>
          <a class="mdl-navigation__link" href="#!#charity">Charity</a>
          <a class="mdl-navigation__link" href="#!/signin">Login</a>
          <a class="mdl-navigation__link btn btn-donate" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/?widget=true">Donate Now</a>
        </nav>
      </div>
		</div>

    <!--====================================
						SECTION
		==================================-->

    <section id="loginform" class="">
      <div class="container">
        <div class="row">
          <!--Top header-->
          <div class="top-header text-center">
            <h3 class="page-title">Choose an Avatar!</h3>
            <div class="lead col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              You're almost there! Just pick an avatar from the options below!
            </div>
            <div class="col-xs-12">
              <hr class="separator">
            </div>
            
          </div>
          <!--Login via Social Media-->
          <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
            <form class="form-horizontal">
              <div id="contain-avatars">
                <div class="form-group">
                  <label label class="col-sm-8">Select an Avatar?<span class="mandatory">*</span></label>
                  <ul class="avatar-list list-unstyled col-sm-12">
                    <li ng-repeat="avatar in avatars" class="avatars signup__avatars ng-scope col-xs-3">
                      <input name="avatar" ng-model="avatars.avatar" type='radio' value="{{$index}}">
                        <img ng-src="{{avatar}}" width="35" height="35">
                      </input>
                    </li>
                  </ul>
                  <br class="clearfix">
                  <hr class="separator">
              </div>
              
              <div class="alert alert-danger col-sm-8" ng-show="showError() === 'invalid'" >
								{{ signupErr }}
							</div>

              <div class="form-actions form-group">
                <button type="submit" id="sign-up-btn" class="col-sm-10 btn btn-primary">Let's Go!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

		<!-- =========================
			FOOTER SECTION   
		============================== -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
						<p class="small">This game is based on the Cards Against Humanity card game, which is CC licensed (BY-NC-SA). Cards for Humanity is not affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards Against Humanity card game, all proceeds from donations go directly to charity, as managed by crowdrise.</p>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12 col-sm-12">

						<p>Copyright &copy; 2017 Andela Talent Accelerator | All Rights Reserved.</p>

					</div>
					
				</div>
			</div>
		</footer>


		<!-- Back top -->
		<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
	</div>
</div>