<div ng-controller="IndexController">
  <div id="dashboardPage">
    <div class="dashboard">
    <!-- =========================
     NAVIGATION LINKS     
============================== -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><a href="#!"><img src="img/logo.png" width="240" height="78" ></a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="#!">Home</a>
            <a class="mdl-navigation__link" href="#!#whatiscfh">About</a>
            <a class="mdl-navigation__link" href="#!#howtoplay">How to Play</a>
            <a class="mdl-navigation__link" href="#!#charity">Charity</a>
            <a class="mdl-navigation__link" href="/signout" ng-hide="showOptions" ng-click="signout()">Sign Out</a>
            <a class="mdl-navigation__link btn btn-donate" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/?widget=true">Donate Now</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#!">Home</a>
          <a class="mdl-navigation__link" href="#!#whatiscfh">About</a>
          <a class="mdl-navigation__link" href="#!#howtoplay">How to Play</a>
          <a class="mdl-navigation__link" href="#!#charity">Charity</a>
          <a class="mdl-navigation__link" href="/signout" ng-hide="showOptions" ng-click="signout()">Sign Out</a>
          <a class="mdl-navigation__link btn btn-donate" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/?widget=true">Donate Now</a>
        </nav>
      </div>
		</div>
<!-- =========================
     MAIN DASHBOARD  
============================== -->
<div class="dashbody center-block" >
  <div class="center-block">
    <h3 style="color:#3e7293;text-align:center">
       Welcome to your Dashboard, {{global.user.name}}
    </h3>
   <div>
       <br>
       <br>
       <div class="tab">
         <div class= "row">
           <div class ="col-sm-10 col-sm-offset-1">
         <ul class="nav nav-tabs" role="tablist" id="dashboard-nav">
           <li class="col-sm-4 ">
             <a href="#game-history" data-toggle="tab">
               Your Game History
             </a>
           </li>
            <li class="col-sm-4 active">
             <a href="#dash-leaderboard"  data-toggle="tab">
               Leaderboard
             </a>
           </li>

           <li class=" col-sm-4">
             <a href="#your-donations"  data-toggle="tab">
               Your Donations
             </a>
           </li>

           
         </ul>
         </div>
         </div>
      
       
    
         <div class="tab-content">
           <div  role="tabpanel" class="tab-pane fade in active" id="dash-leaderboard" leaderboard>
           </div>

           <div class="tab-pane fade" id="game-history" history>
           </div>

           <div class="tab-pane fade" id="your-donations" donations>
           </div>

         </div>
        </div>
         </div>
  </div>
</div>

  <!-- =========================
			FOOTER SECTION   
		============================== -->
		<footer>
			<div class="container">
				<div class="row">

					<div class="col-md-12 col-sm-12">

						<p>Copyright &copy; 2017 Andela Talent Accelerator | All Rights Reserved.</p>

					</div>
					
				</div>
			</div>
		</footer>
