<div id="app-container" ng-controller="GameTourController">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a href="#!"><img src="img/logo.png" width="240" height="78" ></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/?widget=true">Donate</a>
          <span class="mdl-navigation__link" href="" id="tweet-container">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
          </span>
          <a class="mdl-navigation__link" id='abandon-game-button'>Abandon Game</a>
        </nav>
      </div>
    </header>

    <div id="gameplay-container">
      <div id="upper-gameplay-container">
        <div class="demo-card-event col-sm-3">
          <div class="mdl-card__title mdl-card--expand" id="inner-timer-container">
            <div id="time" class="timer__time">0</div>
          </div>
          <div class="mdl-card__actions">
            <span id="timer-status-round" class="timer-status-round"> Time Remaining</span>
          </div>
        </div>
        <!-- Time remaining container-->
        <div class="question-container col-sm-6" id="question-container-inner">
          <div class="question-container-box">
            <span class="current-question"></span>
            <div id="startGame" class="col-xs-12">
              <div id="finding-players" class="finding-players">Finding Players</div>
              <div id="player-count-container" class="player-count-container col-xs-12">
                <div id="player-count" class="player-count">1/2</div>
              </div>
              <div id="loading-container" class="loading-container col-xs-12">
                <div id="loading-gif"><img ng-src="../img/loading.svg" /></div>
              </div>
            </div>
          </div>
          <div class="mdl-card__actions question-section">
            <button class="mdl-button mdl-js-button blue mdl-js-ripple-effect" id ="invite-player">
          Find Users
          </button> {{ myname }}
                  <div id="start-game-container">
                    <button class="mdl-button mdl-js-button orange mdl-js-ripple-effect" id='start-game'>
              Start Game
            </button>
            </div>
          </div>
        </div>


          <div class="col-sm-3 player-section">
            <div id="player-container" class="player-container">
              <div id="above-czar-container" class="mdl-list__item-primary-content ">
                <div id="avatar_" class="d-avatar superstar">
                  <span>
                    <img ng-src="img/king.png" id="king">
                  </span>
                  <img />
                </div>
                <div id="player-container-inner">
                  <div id="player-name" class="player-name"><span>Mathew James</span></div>
                  <div id="player-score" class="mdl-list__item-sub-title"><span>3/6</span></div>
                  <!--<div class="czar-star">-->
                  <div id="player-star" class="player-star">
                    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons player-star">star</i></a>
                  </div>
                  <div id="czar-container" class="mdl-list__item-secondary-content">
                    <span id='the-czar' class="mdl-list__item-secondary-info the-czar">CZAR</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>



    <div id="cards-container">
      <div id="social-bar-container">
      </div>

      <div id="cards" class="hand">
        <div class="game-cards playing-card  col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">A middle-aged man on roller skates.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Dying of dysentery.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Coat hanger abortions.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Being rich.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Team-building exercises.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Lactation.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Jewish fraternities.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Dying.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Two midgets shitting into a bucket.</span>
        </div>
        <div class="game-cards playing-card col-md-2 col-sm-3" id="answers" style="cursor: pointer;">
          <span class="card-text">Child beauty pageants.</span>
        </div>
      </div>
    </div>

  <div id="game-end-container">
    <div id="inner-info-exit" class="col-sm-6 inner-info-exit well">
      <div class="game-end-answer-text" >
        <h2>What would you like to do now?</h2>
        You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
      </div>
      <div id='inner-text-container'>
        <a href='/#!/app'>
        <br>
        <div id="join-new-game" class="btn btn-primary">
          Join a New Game
        </div></a>
        <a href='/'>
          <div id="exit-match" class="btn btn-danger">
          Return to Lobby
          </div>
        </a>
      </div>
    </div>

    <div id="charity-widget-container" class="col-md-3 col-md-offset-0 col-sm-offset-3 col-sm-6" >
        <!-- This is real -->
        <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
        <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
        <!-- This is for testing -->
        <!-- <a href="http://www.crowdrise.com" id="crowdriseStaticLink-project-36715" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a> -->
        <!-- <script type="text/javascript" src="https://apisandbox.crowdrise.com/widgets/donate/project/36715/?callback=userDonationCb"></script> -->
    </div>
  </div>

  </div>
</div>
</div>