<!--
  USER SEARCH AND INVITE MODAL POPUP
-->
<div class="modal fade" tabindex="-1" role="dialog" id="findUser">
  <div class="modal-dialog userSearch">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="availableUsers">Available Users</h4>
      </div>
      <div class="modal-body">
        <p ng-show="noUser" style="color: orangered; text-align: left; border-radius: 2px 2px 4px 4px">No such user found</p>
        <div ng-if="inviteStatus" class="invite-list">
          <p ng-repeat="(email, status) in inviteStatus">{{ status.message }}</p>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Search for a user to invite" ng-model="inviteeSearch" ng-keyup="findUsers()"
          />
        </div>
        <div ng-if="searchResult.length > 0" class="invite-list">
          <table>
            <thead>
              <th>Name</th>
              <th>Invite</th>
            </thead>
            <tbody class="search-result">
              <tr ng-repeat="result in searchResult" ng-hide="hasBeenInvited(result.name + ', ' + result.email)">
                <td>Name: {{ result.name }}</td>
                <td>
                  <button id="{{ getValidId(result.email) }}" class="btn btn-primary" ng-click="sendInvite(result)" title="">
                    Send Invite!
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cardModal" class="modal fade" role="dialog" data-controls-modal="card-modal" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color: #69d2e8; text-align: center;">You are the Czar - Click card to pick the next question</h4>
      </div>
      <div class="modal-body" align="center">
        <div ng-click="shuffleCards()" ng-style="{'cursor':'pointer'}" style='margin: auto;'>
          <img src='../img/card-back.jpg' style='width: 100px;' class='animated flipInX' id='card' />
          <img src='../img/card-back.jpg' style='width: 100px;' class='animated flipInX' id='card' />
          <img src='../img/card-back.jpg' style='width: 100px;' class='animated flipInX' id='card' />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="closeModal" data-dismiss="modal" style="display:show; ">Close</button>
      </div>
    </div>
  </div>
</div>

<!--
  THE REST OF THE GAME
-->
<div id="question-container-inner" class="panel panel-default question-panel">
  <div class="panel-body">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <br><p ng-show="!isCzar() && game.state !== 'awaiting players'"> <center> {{ czarHasDrawn }} </center></p>
    
    <div id="startGame" ng-show="game.state === 'awaiting players'">

      <div class="row">
        <div id="player-count-container" class="col-md-4">
          <h2 id="player-count">{{game.players.length}} / {{game.playerMaxLimit}} </h2>
          <h4 id="the-word-players"> Players </h4>
        </div>

        <div class="col-md-4">
          <div class="row">
            <h5 id="finding-players" >
              Finding players
            </h5>
          </div>
          <div id="loading-container" class="row">
            <div id="loading-gif" class="col-md-4 loading-gif col-md-offset-2">
              <img ng-src="../img/loaders/loader.gif" src="../img/loaders/loader.gif">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 col-md-offset-2">
              <a href="javascript:void(0)" id="start-game-button" ng-click="startGame()" class="btn btn-raised btn-info">
                Start Game
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
          <div class="clearfix"><br/></div>
          <div class="row">
            <div class="col-md-12 col-md-offset-2">
              <a href="javascript:void(0)" ng-click="findUserPopup()" class="btn btn-raised btn-info">
                Find Users
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
    
    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
  </div>
</div>
