#main-container {
  background: #2a2d34;
}
#cards-container {
  margin-top: 45px;
}

#player-score {
  letter-spacing: 2px;
  color: white;
}
.mdl-layout__header {
  background: #3e7293;
}
.mdl-layout__header-row {
  padding: 10px;
}
.mdl-card__supporting-text {
  height: 67px;
}
.orange {
  background: #f68c41;
}
.blue {
  background: #3e7293
}
.demo-card-event.mdl-card {
  margin-top: 60px;
  width: 214px;
  height: 201px;
  background: #f68c41;
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
  font-size: 10em;
  margin: 0 auto;
  padding-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  justify-content: center;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.demo-card-wide.mdl-card {
  margin-top: 61px;
  width: 600px;
}
.demo-card-wide > .mdl-card__title {
  color: #2a2d34;
  height: 148px;
  border-radius: 0;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.game-cards.mdl-card {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17.5%;
  min-height: 220px;
  padding: 3%;
  margin: 1%;
  text-align: center;
  background: url('../img/card.png');
  background-size: 94%;
  background-repeat: no-repeat;
  border-radius: 8px;
  color: #252525;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  background-color: #2a2d34 !important;
}

.card-text{
  vertical-align: top;
  padding-top: 5%;
}
.mdl-navigation__link {
  font-weight: 900;
  cursor: pointer;
}
#leave-game-button {
  color: #ed7d1a;
}
#start-game-container {
  float: right;
}
.player-conatainer{
    padding:1%;
    padding-top:2%;
}
#above-czar-container {
    height: 65%;
    width: 100%;
    position: relative;
    left: -5%;
}
.d-avatar{
    margin-top: -11px;
    margin-left: -4px;
}
.czar-star{
    background: grey;
}
.mdl-list {
  position: relative;
  left: -27px;
}
.mdl-list__item .mdl-list__item-secondary-content
{
    margin-left: 0px;
}
.mdl-list__item{
    font-size: 15px;
}
#loading-container img {
  width: 50px;
  height: 50px;
}

/*chat begins here*/
.chatbox {
  width: 250px;
  border-radius: 8px;
  position: fixed;
  background-color: #fff;
  border: 1px solid #fff;
  bottom: 10px;
  right: 10px;
  z-index: 998;
}

.chatbox .chat-header {
  background-color: #ed7d1a;
  border-radius: 8px;
  padding: 6px 15px;
  color: #fff;
}

.chatbox .chat-header h3 {
  display: inline-block;
  margin: 0;
}

.chatbox .chat-header .fa {
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.chatbox .chat-header .fa-chevron-down {
  display: none;
}

.chatbox .chat-content {
  padding: 15px 5px;
  max-height: 350px;
  overflow: auto;
  display: none;
}

.chatbox .chat .chat-meta {
  display: block;
  margin-left: 5px;
  font-size: 14px;
}

.chatbox .chat .chat-meta img {
  float: left;
  width: 50px;
  margin-right: 15px;
}

.chatbox .chat .chat-message {
  display: inline-block;
  margin: 5px 0px 20px 20px;
  background-color: #e6e6e6;
  padding: 5px;
  border-radius: 8px;
}

.chatbox .chat-header .fa-chevron-down,
.chatbox .chat-header .fa-chevron-up {
  float: right;
  font-size: 18px;
  cursor: pointer;
}

#chatNotification {
   font-size: 16px;
   color: #ed7d1a;
   display: none;
 }
 
 #chatInner .emojioneemoji{
   width: 25px;
 }
 
 .chat-meta {
     text-transform: capitalize;
 }
 
 .send-message {
     padding-bottom: 5px;
 }
 
 .send-message button {
     padding: 2px 5px;
     margin: 0 5px;
 }
 
 .chatbox .chat-begin{
   font-size: 14px;
   color: #bbb;
   margin-bottom: 6px;
 }

.chatbox .chat-header .fa-chevron-down {
  display: none;
}

.chatbox .chat .chat-message {
  display: inline-block;
  margin: 5px 0px 20px 20px;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 8px;
}
