#main-container, #cards-container {
  background: #3e7293;
}
#cards-container {
  margin-top: 45px;
}
.mdl-layout__header-row {
  padding: 10px;
}
.mdl-card__supporting-text {
  height: 67px;
}
.demo-card-event.mdl-card {
  margin-top: 61px;
  width: 214px;
  height: 201px;
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
  font-size: 10em;
  margin: 0 auto;
  padding-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  justify-content: center;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.demo-card-wide.mdl-card {
  margin-top: 61px;
  width: 600px;
}
.demo-card-wide > .mdl-card__title {
  color: #3E4EB8;
  height: 148px;
  border-radius: 0;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.game-cards.mdl-card {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17.5%;
  height: 180px;
  padding: 3%;
  margin: 1%;
  text-align: center;
  background: url('../img/card.png');
  background-size: 94%;
  background-repeat: no-repeat;
  border-radius: 8px;
  color: #252525;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}
.card-text{
  vertical-align: top;
  padding-top: 5%;
}
.mdl-navigation__link {
  font-weight: 900;
  cursor: pointer;
}
#leave-game-button {
  color: red;
}
#start-game-container {
  float: right;
}
